@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Time : @ViewBag.Greeting - @ViewBag.UserName</h1>
    <p>Learn about <a asp-action="Apply" asp-controller="Course" >ASP.NET Core Eğitimine sen de katıl !</a>.</p>
</div>

