@model List<Movie>
@{
    ViewData["Title"] = "Index";
}

<div class="row">

    <div class="col-md-3">
        @Html.Partial("PartialMenu")
    </div>


    <div class="col-md-9">

        @*@Html.Partial("PartialMovies",Model)*@
        <partial name="PartialMovies" model="Model" />
       
    </div>
</div>

