@using Course.MovieWebUI.Repository;
@model CategoryMovieVM
@{
    ViewData["Title"] = "Index";
}

<div class="row">

    <div class="col-md-3">
        @*@Html.Partial("PartialMenu",Model.Categories)*@
        @*<partial name="PartialMovies" model="Model.Categories" />*@
        @await Component.InvokeAsync("Category")
    </div>


    <div class="col-md-9">

        @*@Html.Partial("PartialMovies",Model)*@
        <partial name="PartialMovies" model="Model.Movies" />
       
    </div>
</div>

